<%- include('partials/header.ejs') -%>


<h1>Add New Menu Item</h1>
<div class="addnewitem">
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="text" name="category" placeholder="Category" required><br>
        <input type="number" name="price" placeholder="Price" step="1" required><br>
        <textarea name="description" placeholder="Description"></textarea><br>
        <button type="submit">Add Item</button>
        <!-- <a href="/">Back to Menu</a> -->
        <a class="btn btn-primary mt-4" href="/menu" role="button">Back to Menu</a>
    </form>
</div>


<%- include('partials/footer.ejs') -%>