<%- include("partials/header.ejs") %>

<section class="login">
    <h1>Login</h1>

    <form action="/login" method="post">
        <p>If You Dont Have Account <a href="/signup">Signup</a></p>

        <p id="email_already_regestered"><%= locals.response %></p>
        <label for="user_name">User Name</label>
        <input type="text" name="user_name" id="user_name" required>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>

        <!-- <label for="reEnterPassword">Re Enter Password</label>
        <input type="text" name="reEnterPassword" id="reEnterPassword" required> -->

        <!-- <label for="address">Address</label>
        <input type="text" name="address" id="address" required>

        <label for="mobile">Mobile Number</label>
        <input type="text" name="mobile" id="mobile" required> -->

        <button type="submit">Login</button>

    </form>
</section>


<%- include("partials/footer.ejs") %>
